@model ArticolViewModel

@{
    ViewData["Title"] = "Adauga Articol";
    List<SelectListItem> domenii = ViewBag.Domenii;
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Titlu" class="control-label">Titlu</label>
            <input asp-for="@Model.Titlu" class="form-control" />
            <span asp-validation-for="@Model.Titlu" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Autor" class="control-label">Autor</label>
            <input asp-for="@Model.Autor" class="form-control" />
            <span asp-validation-for="@Model.Autor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Continut" class="control-label">Continut</label>
            <textarea asp-for="@Model.Continut" class="form-control" rows="5"></textarea>
            <span asp-validation-for="@Model.Continut" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageFile" class="control-label">Image File:</label>
            <input asp-for="@Model.ImageFile" type="file" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.DomeniuId" class="control-label">Category Id</label>
            <select asp-for="@Model.DomeniuId" asp-items="@domenii" class="form-control"></select>
            <span asp-validation-for="@Model.DomeniuId" class="text-danger"></span>
        </div>

        @Html.HiddenFor(x => x.DataCreare, new { @Value = DateTime.Now })
        @Html.HiddenFor(x => x.DataModificare, new { @Value = DateTime.Now })
        @Html.HiddenFor(x => x.NumarVersiune, 0)
        @Html.HiddenFor(x => x.AutorModificare, "No modification")

        <br />
        <input type="submit" value="Adauga" />
        <br />
    </form>
</div>