@model ArticolModel 
@using Markdig;
@using SpaceClopedia.Logic

@{
    ArticolModel articol = Model;
    ViewData["Title"] = articol.Titlu;
    Rol? rol = ViewBag.Rol;
    // var markdownContent = Html.Raw(Html.Encode(articol.Continut).Replace("&#xD;&#xA;", "<br />"));
    var htmlContent = Markdown.ToHtml(articol.Continut);
}

<h1 class="text-center my-3">@articol.Titlu</h1>
</br>
<article>   
    @* <p>@articol.Continut</p> *@
    @* p>@Html.Raw(Html.Encode(articol.Continut).Replace("&#xD;&#xA;", "<br />"))</p> *@
    <div class="row">
        <div class="clearfix">
            @if (Model.Image != null)
            {
                <img src="@Url.Action("GetImage", "Articol", new { id = Model.Id })" alt="Article Image" class="col-md-6 float-md-end mb-3 ms-md-3" style="max-width: 300px;" />
            }
            <div>
                @Html.Raw(htmlContent)
            </div>
        </div>
    </div>

    <p>Creat: @articol.DataCreare</p>
    <p>Ultima modificare: @articol.DataModificare</p>
    <p>Autor: @articol.Autor</p>
    <p class="d-inline-block bg-secondary text-dark p-1 rounded">Categorie: @articol.Domeniu!.NumeDomeniu</p>

</article>
<div class=" d-flex justify-content-start">
    <a asp-controller="Articol" asp-action="Index" class="btn btn-success text-white border border-white border-2"> <i class="bi bi-arrow-left"></i>Intoarce-te</a>
    @if (User.Identity.IsAuthenticated && (rol != null && ((int)rol == 0 || (int)rol == 1)))
    {
        <a asp-controller="Articol" asp-action="RevertArticol" asp-route-articolId="@articol.Id" class="btn btn-success text-white border border-white border-2">Reveniti la versiunea anterioara</a>
    }
</div>
