@using System.Diagnostics
@model ArticolModel

@{
    ViewData["Title"] = "Editeaza Articol";
    List<SelectListItem> domenii = ViewBag.Domenii;
    List<SelectListItem> accessLevel = ViewBag.AccessLevel;
}


<div class="container">
    <form method="post">
        @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Autor)
        {
            <div class="form-group">
                <label asp-for="@Model.AccessLevel" class="control-label">Protected</label>
                <select asp-for="@Model.AccessLevel" asp-items="@accessLevel" class="form-control"></select>
                <span asp-validation-for="@Model.AccessLevel" class="text-danger"></span>
            </div>
        }
        else
        {
            <div class="form-group">
                <input type="hidden" asp-for="@Model.AccessLevel" />
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h2>@Model.Titlu</h2>
            <input type="hidden" asp-for="@Model.Titlu" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Autor" class="control-label">Autor</label>
            <input asp-for="@Model.Autor" class="form-control" />
            <span asp-validation-for="@Model.Autor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Continut" class="control-label">Continut</label>
            <textarea asp-for="@Model.Continut" class="form-control" rows="5"></textarea>
            <span asp-validation-for="@Model.Continut" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.DomeniuId" class="control-label">Category Id</label>
            <select asp-for="@Model.DomeniuId" asp-items="@domenii" class="form-control"></select>
            <span asp-validation-for="@Model.DomeniuId" class="text-danger"></span>
        </div>

        @Html.HiddenFor(model => model.DataCreare, new { @Value = DateTime.Now.ToString("o") })
        @Html.HiddenFor(model => model.DataModificare, new { @Value = DateTime.Now.ToString("o") })
        @Html.HiddenFor(model => model.NumarVersiune, 0)
        @Html.HiddenFor(model => model.AutorModificare, "No modification")
        

        <br />
        @* <input type="hidden" asp-for="@Model.Id" /> *@
        <input type="submit" value="Adauga" />
        <br />
    </form>
