@model List<ArticolModel>

@{
    List<ArticolModel> articole = Model;
    ViewData["Title"] = "SpaceClopedia";
}

<h1>Articolele mele super tari</h1>

@{
    foreach(ArticolModel articol in articole)
    {
        // <h2>@articol.Titlu</h2>
        // <p>@articol.Continut</p>
        <h3><a asp-controller="Articol" asp-action="Articol" asp-route-articolId="@articol.Id">@articol.Titlu</a></h3>
        @if (articol.AccessLevel == "Public" || User.Identity.IsAuthenticated)
        {
            <h4><a asp-controller="Articol" asp-action="EditeazaArticol" asp-route-articolId="@articol.Id">Editeaza Articol</a></h4>
        }
    }
}

<h3><a asp-controller="Articol" asp-action="AdaugaArticol">Adauga Articol</a></h3>